body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.month-container {
    padding: 70px 25px;
    background-color: green;
    text-align: center;
}

.month-container ul li {
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
}

.week-days {
    margin: 0px;
    padding: 10px 0;
}